# PROJECT GEGEVENSBANKEN - SQL

# Imports

In [ ]:
# Setup
import sys
import getpass  # Package om een paswoordveldje te genereren.
import json  # Package om .json files in te laden (bvb kolomnamen zijn zo opgeslagen)
import mysql.connector  # MySQL package
import pandas as pd  # Populaire package voor data-verwerking

from pathlib import Path
from inspect import getsource

In [ ]:
# Imports van binnen onze eigen repository
sys.path.append(str(Path().absolute().parent / "src"))

from db_project import (
    res_to_df,
    toon_uitleg,
    DOC_FPS,
    DEMO_Q_PARAMS_FP,
    ALL_Q_COLNAM_FP,
)

In [ ]:
# Tekst en uitleg wordt ingelezen uit bestanden uit de `docs` folder.
toon_uitleg(DOC_FPS.get("intro"), sectie=[1, 2, 3])

In [ ]:
# Lees de dictionairy van kolomnamen in
col_names = json.load(open(ALL_Q_COLNAM_FP, "r"))

# Inspecteer de dictionairy van kolomnamen
for k, v in col_names.items():
    msg = "Kolomnamen van {}: {} \n".format(k, v)
    print(msg)

In [ ]:
toon_uitleg(DOC_FPS.get("instructions"), sectie=[1, 2])

In [ ]:
# Voorbeeld-query (oplossing)
def query_voorbeeld(connection, column_names, homeruns=20):
    # Bouw je query
    query = """
    select    t.name, t.yearID, t.HR
    from      Teams as t
    where     t.HR > {}
    order by  t.HR DESC;
    """.format(
        homeruns
    )
    # TIP: Met "format" krijg je parameters in de string (samen met `{}` in de string zelf)

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("instructions"), sectie=3)

In [ ]:
def verbind_met_GB(username, hostname, gegevensbanknaam, password=None, poort=3306):
    """
    Maak verbinding met een externe gegevensbank

    Parameters
    ----------

    username:           str
                        Username van de gebruiker
    hostname            str
                        Naam van de host. In het geval van lokale server 'localhost'
    gegevensbanknaam    str
                        Naam van de gegevensbank
    password            str, None
                        Wachtwoord kan al meegegeven worden. Indien niet, wordt
                        een wachtwoordveldje gegenereerd waar de gebruiker het
                        kan ingeven.
    poort               int, defaults to 3306
                        poort waarop MySQL luistert. Typisch is dat op poort 3306, 
                        maar variaties zijn mogelijk.
    Returns
    -------
    connection          connection object
                        Dit is het soort object dat wordt teruggeven door
                        connect() methods van packages die voldoen aan de DB-API

    """
    
    #Implementeer hier de functie


def run_query(connection, query):
    """
    Voer een query uit op een bestaande connection.

    Geeft het resultaat van de query terug.

    Parameters
    ----------
    connection      connection object
                    Dit is het soort object dat wordt teruggeven door
                    connect() methods van packages die voldoen aan de DB-API
    query           str
                    SQL-query geschreven als een gewone string

    Returns
    -------

    """
    
     #Implementeer hier de functie

In [ ]:
# Verbindingsobject aanmaken

username = 'root'      # Vervang dit als je via een andere user queries stuurt
hostname = 'localhost' # Als je een databank lokaal draait, is de hostname meestal gewoon "localhost"
db = 'lahman2016'          # Naam van de gegevensbank op je XAMPP Mysql server

# We verbinden met de gegevensbank, deze functie heeft als output een `connection-object`.
c = verbind_met_GB(username, hostname, db, password='')

In [ ]:
# Voorbeeldquery runnen, resultaat ophalen en inspecteren.

# De query-functie verwacht als tweede parameter de kolomnamen van het resultaat.
kolomnamen_voorbeeldquery = ["name", "yearID", "HR"]

# Query-functie uitvoeren, geeft resultaat van de query in een DataFrame
df = query_voorbeeld(c, kolomnamen_voorbeeldquery, homeruns=10)   

# Inspecteer laatste resultaten (laat. tail() weg om alles te zien)
df.tail()

In [ ]:
# EXTRA: Query runnen met andere parameterwaarde
df = query_voorbeeld(c, kolomnamen_voorbeeldquery, homeruns=30)
df.tail()

## 3. Queries

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=1)

In [ ]:
def query_01(connection, column_names, X=1980, Y=50):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=2)

In [ ]:
def query_02(connection, column_names, X="'USA'", Y=40):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=3)

In [ ]:
def query_03(connection, column_names, X=1940, Y=1980, Z=1):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=4)

In [ ]:
def query_04(connection, column_names, X=1940, Y=3):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=5)

In [ ]:
def query_05(connection, column_names, X=1960):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=6)

In [ ]:
def query_06(connection, column_names, X="'TX'"):
    
    # Bouw je query
    query = """
    maak hier je query"""
    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=7)

In [ ]:
def query_07(connection, column_names,  X=2, Y=500):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=8)

In [ ]:
def query_08(connection, column_names):

    # Bouw je 1ste query die de tabel opbouwt
    query = """
    maak hier je query"""

    
    try:
        run_query(connection, query)  # Query uitvoeren
    except Exception as e:
        print(e)
        
        
    #bouw je 2de query die alle resultaten uit die tabel opvraagt
    query = """
    Maak hier je query
    """

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=9)

In [ ]:
def query_09(connection, column_names, X=4):

     # Bouw je query die de gevraagde waardes verwijdert
    query = """
    maak hier je query"""

    # Stap 2 & 3
    try:
        run_query(connection, query)  # Query uitvoeren
    except Exception as e:
        print(e)
   

    # Bouw je query die alle resultaten uit de geupdate tabel opvraagt
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

In [ ]:
toon_uitleg(DOC_FPS.get("query_description"), sectie=10)

In [ ]:
def query_10(connection, column_names,  X=1990, Y=91):

    # Bouw je query
    query = """
    maak hier je query"""

    # Stap 2 & 3
    res = run_query(connection, query)  # Query uitvoeren
    df = res_to_df(res, column_names)  # Query in DataFrame brengen

    return df

### Indienen

In [ ]:
toon_uitleg(DOC_FPS.get("submissions"), sectie=1)